# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
   ${TOPDIR}/../meta-clang \
   ${TOPDIR}/../meta-mingw \
   ${TOPDIR}/../meta-oe/meta-oe \
   ${TOPDIR}/../meta-oe/meta-python \
   ${TOPDIR}/../meta-protos \
   ${TOPDIR}/../meta-protos/meta \
   ${TOPDIR}/../meta-protos/meta-oe \
   ${TOPDIR}/../meta-python2 \
   ${TOPDIR}/../meta-python2-backport \
   ${TOPDIR}/../meta-qt5 \
   ${TOPDIR}/../meta-selinux \
   ${TOPDIR}/../poky/meta \
   ${TOPDIR}/../poky/meta-poky \
   ${TOPDIR}/../poky/meta-yocto-bsp \
"
