# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${TOPDIR}/../meta-clang \
    ${TOPDIR}/../meta-kf5 \
    ${TOPDIR}/../meta-kf6 \
    ${TOPDIR}/../meta-mingw \
    ${TOPDIR}/../meta-oe/meta-filesystems \
    ${TOPDIR}/../meta-oe/meta-gnome \
    ${TOPDIR}/../meta-oe/meta-initramfs \
    ${TOPDIR}/../meta-oe/meta-multimedia \
    ${TOPDIR}/../meta-oe/meta-networking \
    ${TOPDIR}/../meta-oe/meta-oe \
    ${TOPDIR}/../meta-oe/meta-perl \
    ${TOPDIR}/../meta-oe/meta-python \
    ${TOPDIR}/../meta-oe/meta-webserver \
    ${TOPDIR}/../meta-oe/meta-xfce \
    ${TOPDIR}/../meta-protos \
    ${TOPDIR}/../meta-protos/meta \
    ${TOPDIR}/../meta-protos/meta-oe \
    ${TOPDIR}/../meta-protos/meta-python \
    ${TOPDIR}/../meta-qt5 \
    ${TOPDIR}/../meta-qt6 \
    ${TOPDIR}/../meta-selinux \
    ${TOPDIR}/../poky/meta \
    ${TOPDIR}/../poky/meta-poky \
    ${TOPDIR}/../poky/meta-yocto-bsp \
    ${TOPDIR}/../protos \
"
